@tailwind base;
@tailwind components;
@tailwind utilities;

.grid__slide {
  /* max-width: 150px; */
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px !important;
}
.mySwiper > .swiper-wrapper {
  flex-direction: row !important;
}
