@tailwind base;
@tailwind components;
@tailwind utilities;

.grid__slide {
  /* max-width: 150px; */
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px !important;
}
.mySwiper > .swiper-wrapper {
  flex-direction: row !important;
}

.left-arr:before {
  content: "<";
  font-size: large;
}

.right-arr:before {
  content: ">";
  font-size: large;
}

.left-double-arr:before {
  content: "<<";
  font-size: large;
}

.right-double-arr:before {
  content: ">>";
  font-size: large;
}

.paginator-page {
  align-items:  center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
  position: relative;
  user-select: none;
  font-size: 1rem;
  height: 2.357rem;
  width:  2.357rem;
  margin: 0.143rem;
}

.pagination-active {
  background-color:  #575757;
  color: #fff;
  border: 0;
  height: 2.357rem;
  width:  2.357rem;
  margin: 0.143rem;
  border-radius: 3px;
}

.paginator-page:hover:not(.pagination-active) {
  background: #5a5a5a1a;
  border-color: #0000;
  border-radius: 3px;
}